html {
    background-color: rgb(161, 161, 161);
}

body {
    font-family: Arial, sans-serif;
    margin: 0.5rem; 
    background-color: #f0f0f0; 
    border-radius: 1rem; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    padding: calc(2vw - 8px);  
    font-size: 120%; 
}

header {
    position: absolute;
    background-color: rgb(44, 78, 107);
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    top: 2vw;
    left: 2vw;
    right: 2vw;
}

header img {
    height: 350px;
    
}

header h4{
    margin-top: -1rem;
}

header > div {
    display: flex;
    flex: 1;
    justify-content: center;
}

#header {
    text-align: left;
}

#search {
    width: 100%;
    max-width: 400px;       
    padding: 10px 16px; 
    margin-bottom: 16px;
    border-radius: 20px;    
    font-size: 1rem;       
    transition: border 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
#search:focus {
    outline: none;          
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
}

#left_column, #right_column {
    flex: 1;
    padding: 20px;
    padding-top: 400px;
    
}

#left_column {
    background-color: #3d3c3c;
    color: #f0f0f0;
    
}

#left_column h2 {
    margin-bottom: -0.5rem;
}

#right_column h2 {
    margin-bottom: -0.5rem;
}

.liste_competences {
    margin-top: -0.5rem;
}

#right_column {
    background-color: #e7e7e7;
}

@media screen and (max-width: 1100px) {
    body{
        padding: calc(4vw - 8px);  
    }
    header {
        top: 4vw;
        left: 4vw;
        right: 4vw;
    }
    header img{
        height: 300px;
    }

    #search {
        height: 10px;
        width: 100%;
        max-width: 350px;       
    }
}

@media screen and (max-width: 900px) {
    body{
        padding: calc(5vw - 8px);  
    }
    header {
        top: 5vw;
        left: 5vw;
        right: 5vw;
    }
    header img{
        height: 280px;
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 830px) {
    #header {
        font-size: 90%;

    }
    header img{
        height: 250px;
    }
    #left_column, #right_column {
        padding-top: 370px;
        
    }
    #search {
        padding: 0.5rem;
        max-width: 300px;       
    }
}

@media screen and (max-width: 775px) {
    #header {
        font-size: 80%;
    }   
    header img{
        height: 220px;
    }
    #left_column, #right_column {
        padding-top: 300px;
        
    }

    body {
        font-size: 120%;
    }
    #search {
        padding: 0.5rem;       
    }

}

@media screen and (max-width: 735px) {
    #header {
        padding-left: 5%;
        padding-right: 5%;
    }
    #left_column, #right_column {
        padding-top: 320px;
    }

    #search {
        padding: 0.5rem;
        max-width: 280px;       
    }
}

@media screen and (max-width: 680px) {
    #header {
        font-size: 70%;
    }
    header img{
        height: 180px;
        margin: 0.5rem;
    }
    #left_column, #right_column {
        padding-top: 240px;
        padding-right: 0%;
        padding-left: 2%;
    }
    body{
        font-size: 100%;
    }
    #search {
        font-size: 90%;
        padding: 0.3rem;
        max-width: 160px;       
    }
}

@media screen and (max-width : 500px) {

    #header {
        font-size: 60%;
        
    }
    header img{
        height: 125px;
        margin: 0.5rem;
    }

    #left_column, #right_column {
        padding-top: 200px;
        font-size: 80%;
    }

    #search {
        padding: 0.2rem;
        max-width: 120px;       
    }
}

@media screen and (max-width: 440px) {
    #left_column, #right_column {
        font-size: 80%;
    }

    #search {
        padding: 0.15rem;
        max-width: 150px;
        font-size: 80%;       
    }

    #left_column, #right_column {
        padding-top: 210px;
    }
}

@media screen and (max-width: 400px) {
    #header {
        font-size: 50%;
    }

    header h4 {
        padding-top: 0.4rem;
    }
    #left_column, #right_column {
        padding-top: 170px;
        font-size: 70%;
    }
    #search {
        padding: 0.1rem;
        max-width: 150px;   
        margin-bottom: 8px;  
    }
}

@media screen and (max-width: 350px) {
    #left_column, #right_column {
        padding-top: 185px;
    }
    #search {
        max-width: 130px;   

    }
}
